version: '3.8'

services:
  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
    restart: always
    environment:
      - NODE_ENV=production
      - PORT=3001